.canvasWrapper {
  border-radius: 40px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.25);
  height: 360px;
  margin: 20px auto;
  position: relative;
  width: 640px;
  
  > .error,
  > span,
  > output {
    font-family: FreeSans, Helvetica, Arial;
    font-size: 26px;
    line-height: 26px;
    position: absolute;
    text-shadow: 0 0 2px rgba(255, 0, 0, 1);
  }
  
  > span,
  > output {
    color: #9FF;
    opacity: 0.5;
    top: 12px;
  }
  
  > span {
    left: 20px;
  }
  
  > output {
    right: 20px;
  }
  
  > button {
    background: transparent;
    border: none;
    box-sizing: border-box;
    height: 192px;
    left: calc(50% - 96px);
    opacity: 0.5;
    padding: 48px;
    position: absolute;
    top: calc(50% - 96px);
    width: 192px;
    
    &:focus {
      outline: none;
    }
    
    &::-moz-focus-inner {
      border: 0;
    }
    
    > i {
      box-sizing: border-box;
      display: block;
      filter: drop-shadow(0 0 10px rgb(0, 0, 0));
      width: 96px; 
      height: 96px; 
      border: none;
      border-top: 48px solid transparent;
      border-bottom: 48px solid transparent;
      border-left: 72px solid #FFF;
      margin-left: 24px;
      transition: border-width 100ms ease;
    }
  }
  
  &.playing {
    > button {
      opacity: 0;
      transition: opacity 300ms ease-in-out;

      > i {
        border: none;
        border-left: 32px solid #FFF;
        border-right: 32px solid #FFF;
        margin-left: 0;
      }
    }
    
    &.user-is-active > button {
      opacity: 0.5;
      transition: opacity 300ms ease-in-out;
    }
  }
  
  > canvas {
    background: #000;
    border-radius: 40px;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  > .error {
    color: red;
    top: calc(50% - 13px);
    width: 100%;
    text-align: center;
  }
}
